/* .poster .overlay-main {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.247);
    border: 2px solid whitesmoke;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
} */
.poster .overlay-movie {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    max-width: 560px;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding: 20px 15px;
    border-radius: 10px;
    opacity: 0;
    transition: 1s ease all;
    /* transform: scale(1); */
    /* opacity: 1; */
    z-index: 3;
    /* display: none; */
}
.poster .overlay-movie.show {
    /* display: block;
    display: initial; */
    opacity: 1;
    transform: translate(-50%, -50%);
}
/* ============================================== */
/* ============================================== */
/* ============================================== */
.movie .overlay-movie {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    max-width: 560px;
    width: 90%;
    top: 50%;
    left: 50%;
    padding: 20px 15px;
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -55%);
    transition: 1s ease all;
    /* opacity: 1; */
    z-index: 3;
    /* display: none; */
}
.movie .overlay-movie.show {
    opacity: 1;
}
/* ============================================== */
/* ============================================== */
/* ============================================== */
.overlay-movie h2 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 1.2rem;
}
.overlay-movie h3 {
    margin: 0;
    color: grey;
    /* text-align: left; */
    margin-bottom: 10px;
    font-size: 1rem;
}
.overlay-movie p {
    margin: 0;
    color: rgb(157, 157, 157);
    font-size: 1.1rem;
}

.poster .overlay-movie p {
    margin: 0;
    color: rgb(157, 157, 157);
    font-size: 1rem;
}
.poster .overlay-movie i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}

.movie .overlay-movie i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}
